{%  extends 'layout.html' %}

{% block main %}
<div class="courses container">
    <div class="course">
        {% if object.image %}
        <img src="{{ object.image.url }}" alt="{{ object.title }}">
        {% else %}
        <img src="/pictures/default.png" alt="{{ object.title }}">
        {% endif %}

        <h3>{{ object.title }}</h3>
    </div>

    <div class="aside">
        <h1>Описание курса</h1>
        <p>{{ object.desc }}</p>

        {% if object.is_free == False and user.is_authenticated == False%}
        <p>Вам необходимо пройти <a href="{% url 'reg' %}">регистрацию</a></p>
        {% else %}
            {% if  object.is_free == True or user.profile.account_type == 'full' %}
                <ul>
                    {% for el in lessons %}
                    <li><a href="{{ el.get_absolute_url }}">{{ el.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Необходимо купить <a href="{% url 'tarrifs'%}">подписку</a></p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}